grafana: 
  installOnCluster: true
  ingress:
    enabled: true # Disable if ingress controller absent or want to deploy using nodeport service only
    annotations:
      kubernetes.io/ingress.class: "nginx"
    hosts:
      - grafana.myimaginaryhost.com

  service:
    type: "NodePort"

  adminUser: admin
  adminPassword: "admin"

  sidecar:
    datasources:
      enabled: true
    dashboards:
      enabled: true

  persistence:
    enabled: true
    size: 2Gi

heplifyServer: 
  image: ghcr.io/sipcapture/heplify-server:latest
influxdb: 
  image: influxdb:1.8
  loglevel: info
  storage: 10Gi
homer: 
  image: ghcr.io/sipcapture/homer-app:latest
  ingress:
    enabled: true # Disable if ingress controller absent or want to deploy using nodeport service only
    hostname: webapp.myimaginaryhost.com
    annotations:
      kubernetes.io/ingress.class: "nginx"

postgres: 
  image: postgres:11-alpine
  storage: 30Gi 
telegraf: 
  image: telegraf:1.19

